@model BulkyBookWeb.Models.User.OneTimePin
<h2>One Time Pin</h2>
<p>Please copy the following One Time Pin:</p>
<h3>@ViewBag.OneTimePin</h3>
<form asp-action="OneTimePin" method="post">
    <input type="hidden" name="email" value="@Model?.Email" />
    <div class="form-group">
        <input type="submit" value="Confirm" class="btn btn-primary" />
    </div>
</form>
