@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>My name is Lance Hancock and I am an aspiring ASP.NET CORE developer.</p>
    <p>This is my web project where I will be showcasing my skills in building web applications with ASP.NET CORE.</p>
    <p>Feel free to explore the categories and products available in the navigation bar above.</p>

    <p>
        If you have any feedback or suggestions, please don't hesitate to contact me using the link in the footer.</
        g the contact form in the footer.
    </p>

</div>